---
- name: Prepare all nodes
  hosts: all
  become: true
  roles:
    - common
    - containerd
    - kubernetes

- name: Initialize control plane
  hosts: control_plane
  become: true
  roles:
    - control_plane

- name: Join workers
  hosts: workers
  become: true
  roles:
    - workers
